doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title   
    link(rel='stylesheet', href='/css/style.css')
  body
    .navigation
        a(href="./index") Index
        a(href="./about") About
        a(href="./form") Form
    .container
      block content